@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body
{
    background-image: url(pic34.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.H11 {
    text-align:center;
    color:aliceblue;
    font-family: Lora ;
    font-size: 60px;
}

.h3p{
    text-align: center;
    color:antiquewhite;
    font-size: 33px;
}


.pra{
    color:rgba(240, 248, 255, 0.8)
    text-align center;
    background-color:hsla(hue, saturation, lightness, alpha)
}


.buttonset .btn1{
    background-color:rgba(70, 131, 180, 0.474);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}