body{
    background-image: url(pic67.jpg);
    background-repeat: no-repeat;
    background-size:3000px
}
.buttonset .btn1{
    background-color:rgba(70, 131, 180, 0.881);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.kkk{
    
    font-size: 30px;
    text-align: justify;
    color:rgba(0, 0, 0, 0.979)
}

.list9{
    font-size: 26px;
    color:rgba(0, 0, 0, 0.985);
}

.ggg{

    font-size: 30px;
    color:rgba(0, 0, 0, 0.971);
}


.list10{

    font-size: 26px;
    color: rgba(0, 0, 0, 0.779);

}